<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522397725283-g2bqgpavn88pi2qohhjgik54kmjkc5v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522397725283-g2bqgpavn88pi2qohhjgik54kmjkc5v2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522397725283-lgulv4v0jk0h07g6nf77n6l8jec3eqvu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB89dfb4RM_m_lhDjI0KpGYTVgE-P6Ersw</string>
	<key>GCM_SENDER_ID</key>
	<string>522397725283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.fireship.lanouvelleecole</string>
	<key>PROJECT_ID</key>
	<string>la-nouvelle-ecole-7e29b</string>
	<key>STORAGE_BUCKET</key>
	<string>la-nouvelle-ecole-7e29b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522397725283:ios:68e252d03d58183284be56</string>
	<key>DATABASE_URL</key>
	<string>https://la-nouvelle-ecole-7e29b.firebaseio.com</string>
</dict>
</plist>